// 添加商户平台step1
.form-control.error{border:1px solid #ff0000}
body{color:#666}
.form-control,.single-line{color:#222}
select.form-control{color:#999}
.btn-submit{background-color:#ff4e3c;color:#fff}
.btn-submit:hover{background-color:#ff3622;color:#fff}
.wrapper-content{padding:28px}
.row{margin:0}
.img{width:380px;height:220px;padding:22px 18px 35px 18px}
label.error{position:absolute;left:0;top:35px}
.imgLabel{position:relative;width:100%;height:100%;background-color:#f3f3f4;line-height:170px;text-align:center}
.imgLabelError{border:1px solid red}
.uploadBox{background-repeat:no-repeat;background-size:contain;background-position:center center;width:100%;height:100%;position:absolute;left:0;top:0}
.ibox{clear:none}
.ibox-title{background-color:#fbfbfb}
.ibox-title span{display:inline-block;margin-top:12px}
.ibox-content{padding:18px}
.ibox-reversion{padding:0}
.form-group.col-md-6{padding:0}
.col-sm-3{padding:0;text-align:right}
.control-label{line-height:34px}
.col-sm-6{padding-left:10px}
.col-right{padding-left:24px}
.r-table{height:39px}
// 添加商户平台step2
.wrapper-content{padding:28px}
.row{margin:0}
.ibox{clear:none}
.ib-title{background-color:#fbfbfb;margin-bottom:20px}
.ibox-content{padding:18px}
.ibox-reversion{padding:0}
.form-horizontal .form-group.ml{margin:0;}
.col-md-ml{margin-left:-8%}
.table tfoot tr td.add-item{padding:0}
.btn-add{width:100%;background-color:#ff8c6c;border-color:none;color:#FFF;border-radius:0}
.save-btn{margin-left:40px}
.submit-form{margin-top:20px}
.form-horizontal .col-sm-offset-5{margin-left:41.66666667%}
.form-horizontal .channel .control-label{text-align:left}
.input-group-addon{background-repeat:no-repeat;background-size:inherit;background-position:5px center;padding-left:65px;border:0}
.per{position:absolute;right:3px;top:50%;transform:translate3d(0,-50%,0);z-index:9;color:#999}
.wx{background-image:url(../img/addmerchat/WeixinPay.png);background-position:35px center;background-size:24px auto;background-color:rgba(0,0,0,0)}
.alipay{background-image:url(../img/addmerchat/AliPay.png);background-position:35px center;background-size:24px auto}
.unionpay{background-image:url(../img/addmerchat/UnionPay.png);background-position:35px center;background-size:24px auto}
.others{background-image:url(../img/addmerchat/othersPay.png);background-position:35px center;background-size:24px auto}
table label.error{position:inherit}
label.error{position:absolute;left:10px;top:35px}
.chide{display:none}
.table input{text-align:center;border:0}